*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
:root {
    --x: 400px;
    --y: 400px;
}

#box {
    height: 100%;
    width: 100%;
    background: radial-gradient(at var(--x) var(--y), rgb(214, 201, 201), rgb(36, 36, 23));
    border: 1px solid white;
}
