*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes abc {
    from {
        border-radius: 0%;   /* Square corners */
    }
    to {
        border-radius: 50%;  /* More rounded corners */
    }
}

/* #box {
    height: 200px;
    width: 400px;
    background: conic-gradient( from 80deg,
        #FF00FF,
        #00FFFF,  
        #FFFF00,  
        #FF4500,  
        #32CD32,  
        #8A2BE2,  
        #FF1493   
    );
    animation: abc 1s infinite forwards alternate;
} */




/* @property --bgcolor{
    syntax: "<color>";
    initial-value: rgb(110, 170, 26);
    inherits: false;
}

@keyframes animate{
    from{
        --bgcolor: blue;
    }
    to{
        --bgcolor:red;
    }
} */

/* #box{
    height: 202px;
    width: 400px;
    border: 1px solid whitesmoke;
    background-color: var(--bgcolor);
    animation: animate 10 s;
} */


@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animation {
    from {
        --rotate: 0deg;
    }
    to {
        --rotate: 360deg;
    }
}

#box {
    max-width: 250px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;

    border-radius: 15px;
    box-shadow: 0 0 60px rgb(242, 26, 62);

    /* Animated gradient border */
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(242, 26, 62), black) border-box;

    border: 5px solid transparent;

    animation: animation 10s linear infinite;
}

#box img {
    width: 100%;
}
