*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes abc {
    from {
        border-radius: 0%;   /* Square corners */
    }
    to {
        border-radius: 50%;  /* More rounded corners */
    }
}

/* #box {
    height: 200px;
    width: 400px;
    background: conic-gradient( from 80deg,
        #FF00FF,
        #00FFFF,  
        #FFFF00,  
        #FF4500,  
        #32CD32,  
        #8A2BE2,  
        #FF1493   
    );
    animation: abc 1s infinite forwards alternate;
} */




@property --bgcolor{
    syntax: "<color>";
    initial-value: rgb(110, 170, 26);
    inherits: false;
}
#box{
    height: 202px;
    width: 400px;
    border: 1px solid whitesmoke;
    background-color: var(--bgcolor);
}