* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* All boxes are now valid anchors */
.box {
    height: 200px;
    width: 200px;
    position: relative;          /* REQUIRED to be an anchor */
    anchor-name: --some-anchor;  /* The anchor name */
}

.red {
    background-color: rgb(171, 30, 30);
}

.blue {
    background-color: rgb(34, 34, 169);
}

.green {
    background-color: rgb(32, 135, 32);
}

/* The anchored element */
.anchor {
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;          /* Required */
    position-anchor: --some-anchor;

    /* Attach to the anchor’s coordinates */
    top: anchor(top);
    left: anchor(right);

    mix-blend-mode: difference;
    pointer-events: none;

    height: 50px;
    width: 60px;

    transition: all 0.5s linear;
}





